
<div id="login-modal" class="form-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">

        <h3 class="form-modal-title">Manga Login</h3>

        <form class="login-form">
            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="user"></span>
                    <input id="login-email" class="uk-input" type="text" name="email" maxlength="255" placeholder="email" data-lpignore="true">
                </div>
                <div class="error-message" data-for="login-email"></div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="lock"></span>
                    <input id="login-password" class="uk-input" type="password" name="password" maxlength="255" placeholder="password" data-lpignore="true">
                </div>
                <div class="error-message" data-for="login-password"></div>
            </div>
            <div class="uk-margin">
                <button type="submit">Login</button>
            </div>
        </form>

    </div>
</div>